<!doctype html>
<html lang="es">
	<head>
		<title>Easy Travel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% block head_css %}
		  <link rel="stylesheet" href="assets/css/main.css" />
    {% endblock %}
	</head>
