<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/EasyTravel/public/">
      <img src="../public/imagenes/easyTravel.jpg" width="10%" class="d-inline-block align-top" alt="Logo de la empresa EasyTravel">
    </a>
  </nav>