<!doctype html>
<html lang="es">
	<head>
    {% block head %}
  		<title>Easy Travel</title>
  		<meta charset="utf-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		  <link rel="stylesheet" href="assets/index/css/main.css" />
    {% endblock %}
	</head>
  {% block body %}
  	<body class="is-preload">
  		<div class="nav_login">
  			<form class="" action="login" method="get">
  				<input type="submit" id="login" class="login" value="Login">
  			</form>
				<form class="" action="registro" method="get">
					<input type="submit" id="" class="registrarse" value="Registrarse">
				</form>

  		</div>

  		<!-- Header -->
  			<header id="header">
  				<h1>Bienvenido a Easy Travel</h1>
  			</header>

  		<!-- Signup Form -->
  			<form id="signup-form" method="POST" action="paquetes" >
  				<input type="search" name="destino" placeholder="Destino">
  				<input type="number" name="precioMin" placeholder="Monto">
  				<input type="date" name="fecha">
  				<input type="search" name="tematica" placeholder="Tematica">
  				<input type="submit" value="Buscar" class="boton_formulario"/>
  			</form>
      {% endblock %}

  		{% block footer %}
  			<footer id="footer">
  				<ul class="icons">
  					<li><a href="https://twitter.com/explore" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
  					<li><a href="https://www.instagram.com/?hl=es-la" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
  					<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
  				</ul>
  			</footer>
      {% endblock %}

  		{% block head_js %}
  			<script src="assets/index/js/main.js"></script>
      {% endblock %}

  	</body>
</html>
